

/*--body, div, ul { margin: 0; padding: 0;}--*/

body{
	background-color: none;
	font-family: Khula, sans-serif; cursor: glitter;

}
header{
	margin-bottom: 3em;

}


.global { margin: 2em;
}

.entete { height: 200px; 
		background-color: none;
		width: 100%;
		float: left;

		}



.sparkle {
	
	font-size: 150%;
	line-height: 250%;
	font-family: Khula;
	font-weight: 800;
	
 
            

-webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
}
  /*--background: red;           
 -webkit-background-clip: text;
}--*/

#back a{
margin-right: 2%;
	margin-left: 2%;
	font-weight: 600;
	text-decoration: none;
	color: black;
	text-rendering: optimizeLegibility;
}

#back a:hover{
	
	background-color: none; 
	
	text-decoration: none;
	
	color: rgba(0, 0, 0, 0.0);
	text-shadow: 0px 0px 5px #383838;
}

.about {

	text-align: center;
	font-size: 120%;
	background-color: none;
	float: left;
	width: 100%;
	height: 15%;

}

.about a {

	margin-right: 2%;
	margin-left: 2%;
	font-weight: 600;
	text-decoration: none;
	color: black;
	text-rendering: optimizeLegibility;
}

.about a:hover{
	background-color: none; 
	
	text-decoration: none;
	
	color: rgba(0, 0, 0, 0.0);
	text-shadow: 0px 0px 5px #383838;
	

}



#blocmenu { width: 20%; 
			float: left;
			font-weight: 600;
			background-color: none; 



}

#blocmenu a:hover{
	background-color: none; 
	
	text-decoration: none;
	
	color: rgba(0, 0, 0, 0.0);
	text-shadow: 0px 0px 5px #383838;
	

}

/*--.contenu { width: 760px; float: left;
			padding: 10px; padding-left: 30px;
			background-color: white;}--*/
#menu li { list-style-type: none;
			background-color: none;
			
			} 

#menu li a, #menu li a:visited { 
	display: block; font-size: 120%; 
	text-decoration: none; color: black; }

#menu li a:hover {
	background-color: none; style: brown;}

.images {
	float: left;
	width: 60%;
	height: 60%;
	background-color: pink;
}

#grille {
	float: left;
	max-width: 40%;
	background-color: purple;
	height: 20%
}

#tiz {
	display: block; position: absolute; margin-left: 55%; margin-top: 12%; max-width: 10%;
}
#grimentz {
	display: block; position: absolute; margin-left: 0%; margin-top: 10%; max-width: 30%;
}

#affiche_co-libri {
	display: block; position: absolute; margin-left: 60%; margin-top: 20%; max-width: 20%;
}
#logo_AAA {
	display: block; position: absolute; margin-left: 33%; margin-top: 18.5%; max-width: 8%;
}
#logo_co-libri{
display: block; position: absolute; margin-left: 3%; margin-top: 34%; max-width: 10%;
}
#portes-ouvertes {
	display: block; position: absolute; margin-left: 17%; margin-top: 35%; max-width: 18%;
}
#station03 {
	display: block; position: absolute; margin-left: 45%; margin-top: 47%; max-width: 20%;
}
#zurich01_8 {
	display: block; position: absolute; margin-left: 3%; margin-top: 51%; max-width: 15%;
}
#scenographie_8{
	display: block; position: absolute; margin-left: 35%; margin-top: 30%; max-width: 20%;
}
#poultoc{
display: block; position: absolute; margin-left: 25%; margin-top: 60%; max-width: 13%;
}
#alia01{
display: block; position: absolute; margin-left: 32%; margin-top: 3%; max-width: 20%;
}




#portrait {
	float: left;
	margin-left: 5%;
	width: 35%;

}


#descriptif {
	float: left;
	width:35%;
	height: auto;
	margin-left: 5%;
	margin-top: 22%;
	background-color: none;
	line-height: 35%;
	font-weight: 400;
}

#descriptif a{
	text-decoration: none;
	color: black;
	text-rendering: optimizeLegibility;
}

#descriptif a:hover {
	background-color: none; 
	
	text-decoration: none;
	
	color: rgba(0, 0, 0, 0.0);
	text-shadow: 0px 0px 5px #383838;
}




#grimentz_data {
	float: left;
	margin-left: 5%;
	margin-right: 2%;
	max-width: 62%;
}

#logo_tiz {
	float: left;
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 15%;
	max-width: 25%;
}


#coco{
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 15%;
	max-width: 45%;
}
#coco_lolo{
float: left;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 15%;
	max-width: 30%;
}

#colo{
float: left;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 15%;
	max-width: 25%;
}

#PO{
float: left;
	margin-top: 0%;
	margin-left: 5%;
	margin-right: 15%;
	max-width: 45%;
}

#st03 {
	float: left;
	margin-top: 0%;
	margin-left: 5%;
	margin-right: 15%;
	max-width: 55%;
}

#st01 {
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 15%;
	max-width: 55%;
}
#st02{
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 15%;
	margin-bottom: 3%;
	max-width: 55%;
}

#z01{
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 15%;
	margin-bottom: 3%;
	max-width: 50%;
}

#z02{
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 15%;
	margin-bottom: 3%;
	max-width: 50%;
}

#sceno{
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 15%;
	margin-bottom: 3%;
	max-width: 55%;
}

#a01{
	float: left;
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 15%;
	
	max-width: 55%;
}

#a02{
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 15%;
	
	max-width: 55%;
}

#a03{
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 15%;
	
	max-width: 55%;
}

#a04{
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 15%;
	
	max-width: 55%;
}

#a05{
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 15%;
	
	max-width: 55%;
}

#a06{
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 15%;
	
	max-width: 55%;
}

#poulet{
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 15%;
	
	max-width: 55%;
}


#project {
	float: left;
	max-width: 27%;
	position: fixed;
	left: 70%;
	margin-top: 22%;
	background-color: none;
	line-height: 120%;
	font-weight: 400;
}



